<p id="notice"><%= notice %></p>

<p>
  <strong>Modelname:</strong>
  <%= @model.modelname %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @model.brand.brandname %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
